$cardWidth: 292px;
$inputWidth: 276px;
$inputHeight: 32px;

.cardAll {
  width: $cardWidth;
  height: 512px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

.cardInput {
  width: $cardWidth;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputIcon {
  width: $inputWidth;
  height: $inputHeight;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconSearch:global(.pi) {
  font-size: 12px;
  padding-top: 4px;
  font-weight: bold;
}

.input {
  width: $inputWidth;
  height: $inputHeight;
}

.cardBox {
  width: $cardWidth;
  height: 464px;
  padding: 8px 10px 8px 8px;
  border-top: 1px solid #e6e6e6;
}

.scrollPanel {
  width: 100%;
  // height: 430px;
  height: 448px;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}

.selectAll {
  width: 100%;
  display: flex;
  padding: 7px;
  height: $inputHeight;
}

.labelTitleSelectAll {
  font-size: 13px;
  padding-left: 6px;
  padding-top: 1px;
}

.listCard {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cardCheckboxLabel {
  display: flex;
  height: $inputHeight;
  padding: 7px;
}

.labelTitle {
  display: block;
  font-size: 13px;
  padding-left: 6px;
  padding-top: 1px;
  //
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 250px;
  position: relative;
}

.cardAll {
  :global(.p-scrollpanel-bar) {
    border-radius: 2px;
    opacity: 1;
  }
  :global(.p-scrollpanel-bar-y) {
    width: 4px;
    background-color: #c7c7c7;
  }

  :global(.p-checkbox .p-checkbox-box .p-checkbox-icon.p-icon) {
    width: 10px;
    height: 8px;
  }
  :global(.p-checkbox-box) {
    width: 18px;
    height: 18px;
    border-radius: 3px;
  }
}

.input::placeholder {
  color: #c7c7c7;
}
